/allure-results/0a27a041-f108-4519-b2e0-5719c9f1affb-result.json
/allure-results/0b2d29eb-a61c-46ea-a0ea-90ad773b2ef3-container.json
/allure-results/0f14c575-407a-4691-8234-1cfadc7a87cf-result.json
/allure-results/1b99a8ea-f145-45cb-a14f-795550a40345-container.json
/allure-results/1f16c14b-20c3-48b4-979d-12aa11bb4419-container.json
/allure-results/2d27d491-b141-49d0-92b0-b48fc89b10c7-result.json
/allure-results/2d49a64b-d1af-4364-9bcc-b7bdaadc9755-container.json
/allure-results/3fd6121c-70cc-4335-9cb9-937efbc7e0ae-container.json
/allure-results/4a09341f-fee2-4bf9-88db-6b59ab9754b8-container.json
/allure-results/4ea14c4e-cc7c-43be-8442-498c8b3ad065-container.json
/allure-results/5ca65133-ea1e-45ab-b53e-09561c9421fd-result.json
/allure-results/6b7c5055-49f4-4dbe-ba17-6d6b2457a0c1-result.json
/allure-results/6c64afd5-276d-4195-9aa1-d7b97851b1cb-container.json
/allure-results/6dab9afc-25bf-4395-9b81-12239ed8922d-container.json
/allure-results/8ca9c361-5f25-4591-8098-ef1fffbf5050-result.json
/allure-results/9e75034a-0a47-49a7-a560-15aec20f5889-container.json
/allure-results/11fc7b3e-4c8c-4707-8a04-732f79e027b8-result.json
/allure-results/17fd8e66-3651-43f0-a647-fedf3f0fdba2-container.json
/allure-results/45d59ee7-1d35-440d-887b-1764d600f8dc-result.json
/allure-results/054d41f6-1918-4fe1-8b05-1053815f3cb7-result.json
/allure-results/55d5f5b0-db47-4437-bdcb-57cb767087f4-result.json
/allure-results/58f5167e-6608-42fc-9d0b-05852346363c-container.json
/allure-results/068e7cfd-12f9-4e4f-a137-a0842896e37a-result.json
/allure-results/69d6d92b-4747-4e99-864b-b765b6ee55c6-result.json
/allure-results/70cc2cfe-988d-4412-a1c3-090749030676-container.json
/allure-results/71c3f5ec-1489-4cb6-bbb5-beec49c9cb16-container.json
/allure-results/73da42d2-8cde-413a-b8d0-13e1f4a91122-container.json
/allure-results/86fafb64-c398-41a9-879a-49a9852357df-result.json
/allure-results/90d32ba1-cf62-4f34-9aa3-eaacb238530b-result.json
/allure-results/93e14719-1cf6-4a43-9f1e-57982fd579e8-container.json
/allure-results/94d58354-51be-464f-ab9d-c515029de0f1-container.json
/allure-results/98a5bfee-c7cb-4f5e-8bf4-5933d1810423-container.json
/allure-results/98e2cb67-ea4d-4dec-9406-7abaeec46dfd-result.json
/allure-results/188c24a8-57da-4f31-a16e-61c6ac70945d-container.json
/allure-results/283cdb1d-7de3-4a38-8992-ba4e521c5bb4-container.json
/allure-results/329b3514-ff13-4236-9662-e6062f84b02b-container.json
/allure-results/478b3620-1c4f-4770-bdb2-aa6901b0b8fa-result.json
/allure-results/803b7781-92a3-4297-b555-f6294f05e054-result.json
/allure-results/843ce2c0-8bb0-42f0-9186-0f5bb3c18921-result.json
/allure-results/3541a429-e74f-4f0a-987d-c92c9acf3d89-container.json
/allure-results/5821c902-3f01-46b2-bcf6-730f6f29242e-container.json
/allure-results/8602e5a0-298b-4b1a-b4f2-51b5a7ca7f4e-result.json
/allure-results/38922e75-5261-48ac-8ec6-7499901b5d85-result.json
/allure-results/69141b90-e16b-4a9d-b014-6e0586364531-result.json
/allure-results/85750f25-063b-4a42-b6e1-8d517aad2311-container.json
/allure-results/893288e6-aa7d-4834-ad30-c859e3964a3d-container.json
/allure-results/6265590d-e365-4ac0-9513-0d17659af463-result.json
/allure-results/54616627-49f6-48fc-9ea7-f0c30f34b808-container.json
/allure-results/ad619766-f515-4dc9-be3a-7e1a6eb3cf30-container.json
/allure-results/b7f1505b-8051-4f19-99bb-a51d8880724b-result.json
/allure-results/b9c145ac-f6c3-41c8-998d-c8fe015f5a35-result.json
/allure-results/b290f19a-9562-4036-8f0e-48eeb3e4eaed-container.json
/allure-results/b2635064-2a92-4bd9-b04f-c27fcf6deffe-container.json
/target/classes/pageObjects/BasePage.class
/target/classes/tests/BaseTest.class
/allure-results/bef384a1-e218-43b5-b15e-057b93afcad9-container.json
/target/surefire-reports/bullet_point.png
/allure-results/c4e9698c-2ee8-47ac-8d01-b95d9facf61f-container.json
/allure-results/c895d254-baf0-44b7-a1c5-e64662eb4afc-container.json
/allure-results/c7485d6a-d928-4dcd-92f9-0aff1d26c4b5-container.json
/allure-results/cdc152de-98e3-4f02-b82e-20865ceafa28-container.json
/target/surefire-reports/old/MyAutomation Suite/classes.html
/test-output/old/MyAutomation Suite/classes.html
/target/surefire-reports/collapseall.gif
/allure-results/d1da01ca-208e-4765-b147-a7b3a87c1607-container.json
/allure-results/d37ef2fb-4a62-40fa-b2e8-4e223b8629a4-result.json
/allure-results/d77e35ae-bd1d-4b49-860a-2da7e545e7fa-container.json
/allure-results/d802053f-3f83-486d-aba2-06837c3ba501-result.json
/allure-results/da8e5aec-050e-416b-b609-c24b40822003-container.json
/allure-results/dcab68b8-9317-4217-a823-4472456f5928-container.json
/target/classes/pageObjects/DemoGuru99.class
/allure-results/e1cf3a73-de26-4df7-bcca-53c89c3af05f-result.json
/allure-results/e5c40617-7c44-4e7e-80fd-493dec100dd9-container.json
/allure-results/e28e2fc4-f088-4a3e-b72a-ec6c0c175df1-container.json
/allure-results/ec9c831f-94a5-4510-a82f-88e0514ff204-container.json
/target/surefire-reports/emailable-report.html
/allure-results/f82afb7a-6de9-419a-a166-c1cd28d53080-result.json
/allure-results/f3688b7a-2554-4c78-99f3-3591055cf63b-container.json
/target/surefire-reports/failed.png
/target/classes/tests/False_Test.class
/allure-results/fcfa2b68-3d20-4b84-ab8c-104aaeb11e71-container.json
/screenshots/First_False_Test.jpg
/screenshots/Forth_False_Test.jpg
/screenshots/Forth_True_Test.jpg
/target/surefire-reports/old/MyAutomation Suite/groups.html
/test-output/old/MyAutomation Suite/groups.html
/target/surefire-reports/old/MyAutomation Suite/index.html
/target/surefire-reports/old/index.html
/target/surefire-reports/index.html
/test-output/old/MyAutomation Suite/index.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/surefire-reports/jquery-1.7.1.min.js
/test-output/jquery-1.7.1.min.js
/target/surefire-reports/old/MyAutomation Suite/main.html
/test-output/old/MyAutomation Suite/main.html
/target/surefire-reports/old/MyAutomation Suite/methods.html
/test-output/old/MyAutomation Suite/methods.html
/target/surefire-reports/old/MyAutomation Suite/methods-alphabetical.html
/test-output/old/MyAutomation Suite/methods-alphabetical.html
/target/surefire-reports/old/MyAutomation Suite/methods-not-run.html
/test-output/old/MyAutomation Suite/methods-not-run.html
/target/surefire-reports/MyAutomation Suite/MyAutomation test.html
/test-output/MyAutomation Suite/MyAutomation test.html
/target/surefire-reports/old/MyAutomation Suite/MyAutomation test.properties
/test-output/old/MyAutomation Suite/MyAutomation test.properties
/target/surefire-reports/MyAutomation Suite/MyAutomation test.xml
/test-output/MyAutomation Suite/MyAutomation test.xml
/test-output/MyAutomation Suite/MyAutomation tests.html
/test-output/old/MyAutomation Suite/MyAutomation tests.properties
/test-output/MyAutomation Suite/MyAutomation tests.xml
/target/surefire-reports/navigator-bullet.png
/target/surefire-reports/passed.png
/target/classes/config/PropertiesFile.class
/target/surefire-reports/old/MyAutomation Suite/reporter-output.html
/test-output/old/MyAutomation Suite/reporter-output.html
/target/surefire-reports/skipped.png
/test-output/junitreports/TEST-test.False_Test.xml
/test-output/junitreports/TEST-test.True_Test.xml
/target/surefire-reports/junitreports/TEST-tests.False_Test.xml
/test-output/junitreports/TEST-tests.False_Test.xml
/target/surefire-reports/junitreports/TEST-tests.True_Test.xml
/test-output/junitreports/TEST-tests.True_Test.xml
/target/surefire-reports/TEST-TestSuite.xml
/target/surefire-reports/testng.css
/target/surefire-reports/old/MyAutomation Suite/testng.xml.html
/test-output/old/MyAutomation Suite/testng.xml.html
/target/surefire-reports/MyAutomation Suite/testng-failed.xml
/target/surefire-reports/testng-failed.xml
/test-output/MyAutomation Suite/testng-failed.xml
/target/surefire-reports/testng-reports.css
/target/surefire-reports/testng-reports.js
/target/surefire-reports/testng-results.xml
/target/surefire-reports/TestSuite.txt
/target/surefire-reports/old/MyAutomation Suite/toc.html
/test-output/old/MyAutomation Suite/toc.html
/target/classes/tests/True_Test.class
/target/classes/pageObjects/w3schools.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
