<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="1" name="MyAutomation tests">
        <classes>
            <class name="Tests.True_Test"/>
            <class name="Tests.False_Test"/>
        </classes>
    </test>
</suite>