<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyAutomation Suite">
    <test verbose="1" name="MyAutomation test">
        <classes>
            <class name="test.java.False_Test"/>
            <class name="test.java.True_Test"/>
        </classes>
    </test>
</suite>